Add: Přidat záznam
Approved: Schválit
Blocked: Zablokovat
Create: Vytvořit
Close: Zavřít
ChangeStatus: Změnit stav
Delete: Smazat
Edit: Editace
Export: Exportovat
Hidden: Skrýt
Login: Přihlásit
Register: Registrovat
Remove: Odstranit
Save: Uložit
Send: Odeslat
Settings: Nastavení
UnBlocked: Odblokovat
Update: Aktualizovat
View: Zobrazit
Visible: Zveřejnit
Repair: Opravit
Restore: Obnovit
Download: Stáhnout